{% extends 'layout.html.twig' %}

{% block content %}
	<div class="main-container">
		<h1>Logistics</h1>
		<form action="" method="POST">
			<label form="number">Number of cupcakes</label>
			<input type="number" name="cupcakeNumber" id="number">
			<button>Inbox</button>
		</form>

		<h2>Results </h2>
		<ul class="results">
			{# TODO : Using result of inbox() method, display the number of boxes (L, M, S) #}
			<li>Number of S boxes: </li>
			<li>Number of M boxes: </li>
			<li>Number of L boxes: </li>
		</ul>
	</div>
{% endblock %}
